**/.claude/settings.local.json
.env
data
error.txt

.DS_Store
node_modules
yarn.lock
*.pyc
data_ilri
data_personal
*roadmap.txt
*.json.backup
*.tar.xz
*.tar.zst
*.pdf
*.png
*.jpg
*.docx
*.doc
*.zip
*.epub
*.mobi